.about {
    width: 80%;
    margin: 0 auto;
    text-align: start
}

.about-header {
    display: flex;
    font-size: 1.2em;
    color: var(--color-primary);
    margin-top: 20px;
    line-height: 1.2;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
}

.about-header {
    margin-left: 1.5em;
    text-align: start;
}

.about-title {
    font-family: "Google Sans Bold", sans-serif;
    font-size: 1.8em;
    color: var(--color-primary);
    line-height: 1.1;
    margin-bottom: 0.5em;
    margin-top: 0;
}

.about-point {
    font-family: "Google Sans Regular", sans-serif;
    color: var(--color-text);
    margin: 0;
    margin-bottom: 0.5em;
}

.about-desc {
    font-family: "Google Sans Regular", sans-serif;
    display: flex;
    flex-direction: column;
    font-size: 0.7em;
    color: var(--color-tertiary);
    line-height: 1.1em;
}

.about-header-image, .about-header-text {
    flex: 1;
}

.about-header-image {
    margin-top: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-image {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    object-position: 60% center;
    object-fit: cover;
}

.about .social-links {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

@media (max-width: 768px) {

    .about-header {
        font-size: 1.4em;
        text-align: center;
        display: block;
        margin: 0 auto;
    }

    .about-header-text {
        margin: 0 auto;
        margin-bottom: 2em;
    }

    .about-title {
        font-size: 1.5em;
    }

    .about-header-image {
        margin-left: 0;
    }

    .about-image {
        width: 300px;
        height: 300px;
    }

    .about-desc {
        font-size: 1em;
    }
}

@media (max-width: 1348px) {
    
    .about {
        font-size: 1.2em;
    }
    
    .about-image {
        width: 300px;
        height: 300px;
    }
}