#root {
  width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
}

@media (max-width: 599px) {
  #root {
    padding: 0;
  }
}

@media (min-width: 600px) {
  #root {
    max-width: 1280px;
  }
}

@media (min-width: 1921px) {
  #root {
    max-width: 1440px;
  }
}

@font-face {
  font-family: 'Motterdam';
  src: url('assets/fonts/Motterdam.ttf');
}

@font-face {
  font-family: 'Jetbrains Mono Bold';
  src: url('assets/fonts/JetBrainsMono-Bold.ttf');
}

@font-face {
  font-family: 'Jetbrains Mono BoldItalic';
  src: url('assets/fonts/JetBrainsMono-BoldItalic.ttf');
}

@font-face {
  font-family: 'Jetbrains Mono ExtraBold';
  src: url('assets/fonts/JetBrainsMono-ExtraBold.ttf');
}

@font-face {
  font-family: 'Jetbrains Mono ExtraBoldItalic';
  src: url('assets/fonts/JetBrainsMono-ExtraBoldItalic.ttf');
}

@font-face {
  font-family: 'Jetbrains Mono Italic';
  src: url('assets/fonts/JetBrainsMono-ExtraLightItalic.ttf');
}

@font-face {
  font-family: 'Jetbrains Mono Light';
  src: url('assets/fonts/JetBrainsMono-Light.ttf');
}

@font-face {
  font-family: 'Jetbrains Mono Medium';
  src: url('assets/fonts/JetBrainsMono-Medium.ttf');
}

@font-face {
  font-family: 'Jetbrains Mono';
  src: url('assets/fonts/JetBrainsMono-Regular.ttf');
}

.logo {
  height: 6em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
